:root {
    --light-blue: #68c6e0;
    --dark-blue: #065d8a ;
    --red: #d91111;
    --yelow: #ffcb05;
}


body {
    margin: 20px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Big-pixel';
    font-size: 15px;
}

.game {
    display: block;
    flex-direction: column;
    gap: 30px;
    border-radius: 15px;
}

.pokémon-tcg-card {
    transform: scale(1.5);
    margin: 80px;
}


.search-bar{
    border-radius: 10px;
    width: 40%;
    height: 50px;
    padding: 10px 15px;
    margin-top: 30px;
}

.search-bar:focus {
    border-color: var(--dark-blue);
}

.search-bar::placeholder {
    font-family: 'Big-pixel';
}

#searchInput {
    width: 120%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Big-pixel';
}

.suggestions {
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    width: 40%;
    z-index: 1000;
    left: 0; 
    top: 70px; 
    font-family: 'Big-pixel';
}


#suggestions {
    position: absolute;
    background-color: #fff;
    border: none;
    max-height: 200px;
    overflow-y: auto;
    width: 40%;
    z-index: 10;
    font-family: 'Big-pixel' !important;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    font-family: 'Big-pixel' !important;
}

.suggestion-item:hover {
    background-color: #ffffff;
}

.suggestion-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

ul {
    font-family: 'Big-pixel';
}

.send {
    font-size: 25px;
    height: fit-content;
    padding-top: 3px;
    margin: 0;
    margin-left: 20px;
    margin-top: auto;
}

.input-container {
    display: flex;
    
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    gap: 60px;
}


/* CARD EFFECT */

.blured {
    filter: blur(15px);
}


/* Lost container */

.lost {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    border-radius: 15px;
}

.score {
    font-size: 40px;
    font-weight: 800;
}